@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:root {
    font-family: "Inter", sans-serif;
}

.slick-dots li button:before {
    font-size: 18px;
    color: #686dbe;
}

.slick-dots li.slick-active button:before {
    color: #ff0000;
}
.Item {
    display: flex;
    justify-content: center;
}
@media (max-width: 1024px) {
}
.Item {
    padding: 30px;
    justify-content: center;
}
@media (max-width: 768px) {
    .Item {
        padding: 15px;
        justify-content: center;
    }
}
@media (max-width: 480px) {
    .Item {
        padding: 10px;
    }
}

.slick-prev::before,
.slick-next::before {
    font-size: 30px;
    color: rgb(250, 250, 250);
}

@media (max-width: 768px) {
    .slick-next,
    .slick-prev {
        display: none !important;
    }
}

